.download {
    place-content: center;
    display: grid;
}

.download__container {
    text-align: center;
    background-color: white;
    font-size: 24px;
    border-radius: 20px;
    padding: 20px 40px;
    -webkit-box-shadow: 0px 13px 18px -4px rgba(176, 170, 176, 1);
    -moz-box-shadow: 0px 13px 18px -4px rgba(176, 170, 176, 1);
    box-shadow: 0px 13px 18px -4px rgba(176, 170, 176, 1);
    color: #333333;
}

.la-file-download {
    font-size: 120px;
    filter: grayscale(.3);
    color: var(--border-blue);
}

.download__container h2{
    font-size: 1em;
}

.download__container p{
    font-size: 0.6em;
}

.download__container h5{
    font-size: 0.65em;
    margin-bottom: 0;
    margin-top: 16px;
}

.download__container small{
    font-size: 0.5em;
    display: block;
    margin-top: 4px;
    margin-bottom: 12px;
}

.download__container a {
    background: var(--light-blue);
    color: white;
    font-size: 0.75em;
    border: none;
    padding: 8px 28px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 4px;
}

@media (max-width: 767px) {
    .download__container {
        font-size: 18px;
    }
}