.uploader {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.uploader__progress {
   
    background-color: var(--body-bg-color);
}

.uploader__inner {
    padding: 4px 12px;
}

.uploader__progressbar {
    height: 4px;
    background: var(--light-blue);
    border-radius: 10px;
    margin-bottom: 12px;
}